---
import Layout from '@/layouts/Layout.astro'
import Topbar from '@/components/layout/Topbar.astro'
import ArticleCard from '@/components/global/ArticleCard.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import http from '@/services/api'

const { lang, id } = Astro.params

const article = await http(`articles/article/preview?id=${id}&lang=${lang}`)

const seoInfo = {
  title: 'Preview - ' + article?.title
}
---

<Layout seoInfo={seoInfo}>
  <Topbar title="Inicio > Nota" />
  <div class="section">
    <div class="container xlarge">
      <div class="row">
        <div class="col col-mobile-12 col-desktop-7">
          <h4 class="text-mobile-large mb-2 bullet-decoration">
            {article?.categories[0]}
          </h4>
          <h2 class="text-mobile-2xl text-desktop-3xl text-bold mb-4">
            {article?.title}
          </h2>
          <h4 class="text-mobile-lg text-desktop-xl mb-5">{article?.intro}</h4>
          <div class="mb-4">
            <img
              src={article?.image?.url}
              alt={article?.image?.caption}
              srcset={article?.image?.srcset}
              width="100%"
            />
            <div class="caption mt-1">
              {article?.image?.caption}
            </div>
          </div>
          <div class="article-content text-mobile-lg text-color" set:html={article?.content} />
        </div>
        <div class="col col-mobile-12 col-desktop-3 col-mobile-offset-0 col-desktop-offset-1"></div>
      </div>
    </div>
  </div>
</Layout>
